/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,::before,::after{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}
html,body{height: 100%; margin: 0;}

.ponomar-regular {
    font-family: "Ponomar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-awesome{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
:root{
    /* Palette */
    --site-bg-color: #3c3c3c;
    --site-text-color: #dcdcdc;
    --site-link-color: #117cff;
    /* --site-link-color: #3773FF; */
    --site-visited-color: #b377f2;
    --hover-link-color: #ffc636;
    --gap-size: 1.5em;
    --border-size: 4px;
}

a{
    transition: .3s ease;
}
a:link{
    color: var(--site-link-color);
}
a:visited{
    color: var(--site-visited-color);
}
a:hover{
    color: var(--hover-link-color);
}
button, input{
    border-radius: 0.5em;
}

body{
    background-color: var(--site-bg-color);
    color: var(--site-text-color);
    /* font-family: "Ponomar", system-ui; */
    font-family: "Roboto Slab", serif;
}
header{
    display: flex;
    height: 3em;
    background-color: #b377f2;
    background-color: var(--site-link-color);
    color: white;
    justify-content: center;
    align-items: center;
}

header nav h2 span{
    color: var(--hover-link-color);
}

main{
    /* padding: var(--gap-size); */
    width: min(100ch, 100% - 1rem);
    /* margin-right: auto;
    margin-left: auto; */
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    flex-direction: column;
}
form.book-form input, #submit{
    background-color: var(--site-text-color);
    transition: .2s ease;
}
form.book-form input:hover, #submit:hover{
    box-shadow: 0px 0px 5px 2px var(--site-link-color);
    background-color: white;
}
form.book-form input:focus{
    box-shadow: 0px 0px 5px 2px #20202040, 0 10px 10px #20202040;
}
#submit:active{
    box-shadow: 0px 0px 5px 2px #20202040, 0 10px 10px #20202040;
    background-color: var(--site-text-color);
}
form.book-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: fit-content(8ch) fit-content(8ch);
    justify-content: center;
    gap: var(--gap-size);
    width: 50%;
    width: min(60ch, 100vw - 2rem); /* GOATED 🔥🔥🔥 https://moderncss.dev/practical-uses-of-css-math-functions-calc-clamp-min-max/ */
    /* align-self: center; */

    padding: 2em 0;
    border-width: 8px;
    border: solid ;
    border-radius: 0.5em;
    font-size: 18px; 
    font-size: clamp(1rem, 4vw + .5rem, 1rem);  /* GOATED 🔥🔥🔥 https://moderncss.dev/practical-uses-of-css-math-functions-calc-clamp-min-max/ */
}
.read-submit-container{
    display: grid;
    grid-template-columns: .5fr 1fr;
    /* justify-self: center; */
    align-self: flex-end;
    gap: var(--gap-size);
}
.read-container{
    display: flex;
    align-items: center;
    gap: .5em;
    /* width: 50%; */
}
.submit-container{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    transform: scale(1.5);
}
button#submit{
    cursor: pointer;
}
form > div > input, .submit-container input[type="submit"], button#submit{
    border-style: solid;
    border-color: var(--site-link-color);
    padding: 4px 8px;
}
input[type="submit"], button#submit {
    font-weight: bold;
    transition: .3s ease;
}
#submit:hover{
    color: var(--hover-link-color)
}

.dividing-line{
    background-color: #dcdcdc;
    height: var(--border-size);
    margin: 0;
    align-self: stretch;
}
div.book-list-container {
    text-align: center;
}
.book-item{
    text-align: initial;
    border: 2px dashed var(--site-text-color);
    border-radius: 0.5em;
    padding: var(--gap-size);
}
div.book-list-container > h2{
    text-decoration: underline;
    color: var(--hover-link-color);
    color: var(--site-link-color);
}
.book-info-container{
    padding-bottom: .5rem;
}
.filter-yellow{
    filter: invert(0%) sepia(8%) saturate(7483%) hue-rotate(342deg) brightness(81%) contrast(97%);
    color: #cc9c14;
}
.filter-black{
    filter: brightness(0) saturate(100%) invert(26%) sepia(98%) saturate(6797%) hue-rotate(356deg) brightness(103%) contrast(118%);
    color: #ff0000;
}

footer{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}